body {
	background: #fff;
}

@include breakpoint(mobile-only) {
	body {
		background: $brand-cyan;
	}
	.mobile-only {
		display: block;
	}
	.tablet-only {
		display: none;
	}
	.desktop-only {
		display: none;
	}
};

@include breakpoint(tablet-only) {
	body {
		background: $brand-red;
	}
	.mobile-only {
		display: none;
	}
	.tablet-only {
		display: block;
	}
	.desktop-only {
		display: none;
	}
};

@include breakpoint(desktop-only) {
	body {
		background: $brand-blue;
	}
	.mobile-only {
		display: none;
	}
	.tablet-only {
		display: none;
	}
	.desktop-only {
		display: block;
	}
};